* {
    box-sizing: border-box;
}

@font-face {
    font-family: "roboto";
    font-weight: 400;
    src: url("./fonts/roboto-regular.ttf") format("truetype");
}

@font-face {
    font-family: "roboto";
    font-weight: 500;
    src: url("./fonts/roboto-medium.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    background-color: rgb(157, 171, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "roboto";
}
body .main {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 320px;
    height: 600px;
    border-radius: 15px;
    border: 4px solid rgb(111, 113, 110);
    position: relative;
}
body .main .notch {
    width: 200px;
    height: 80px;
    background-color: rgb(111, 113, 110);
    border-radius: 0 0 15px 15px;
    margin: 0 auto;
}

body .main .image-box {
    width: 120px;
    position: absolute;
    top: 8px;
    left: calc(50% - 60px);
}

body .main .image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body .main .list-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0 18px;
    padding: 0 18px 0;
}

body .main .list-title div h3 {
    font-weight: 500;
    font-size: 18px;
    position: relative;
    margin: 16px 0 8px;
}
h3::after {
    content: "Today";
    color: white;
    background-color: rgb(13, 116, 219);
    width: 40px;
    height: 12px;
    font-size: 10px;
    padding: 2px;
    text-align: center;
    position: absolute;
    left: 120px;
    bottom: 10px;
    border-radius: 50px;
}
body .main .list-title div p {
    font-size: 12px;
}
body .main .list-title .edit {
    height: 20px;
}
body .main .container {
    font-size: 13px;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

body .main .container .item {
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

body .main .container .item label {
    flex-grow: 1;
}

body .main .container .item .checkbox {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: rgb(13, 116, 219);
    position: relative;
    transform: scale(0);
    transition: transform 0.15s ease-out;
}

body .main .container .item input[type="checkbox"] {
    display: none;
}

body .main .container .item input:checked + label {
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.38);
}

body .main .container .item input:checked + label + .checkbox {
    transform: scale(1);
}

body .main .container .item .checkbox::after {
    content: "";
    display: block;
    width: 10px;
    height: 3px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(-45deg);
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 6px);
}

.sticky-header {
    font-weight: 500px;
    font-size: 14px;
    padding: 8px 18px;
    margin: 0 5px 0;
    position: sticky;
    top: 0;
    border-radius: 5px;
}

.sticky-header1 {
    background-color: rgb(16, 114, 215);
}
.sticky-header2 {
    background-color: rgb(0, 108, 108);
}
.sticky-header3 {
    background-color: rgb(90, 59, 175);
}

body .main .footer {
    display: flex;
    flex-direction: column;
}
body .main .footer .description {
    font-weight: 400;
    font-size: 11px;
    margin: 15px 15px 8px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(225, 225, 225);
    color: rgb(111, 113, 110);
}
body .main .footer .submit {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 0 15px 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(7, 104, 205);
    color: white;
}
body .main .footer-line {
    width: 50%;
    border: 2px solid rgb(111, 113, 110);
    border-radius: 50px;
    background-color: rgb(111, 113, 110);
    margin: 0 70px 10px;
}
